/* menu-item menu-item-type-post_type menu-item-object-page current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-13796 */



.main-navigation ul ul.sub-menu li {
    min-width: 100%;
}

.main-navigation ul ul.sub-menu li a {
    width: fit-content;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 768px) and (max-width: 1024px) {
    .counter_box_home_pg {
        width: 33%;
    }
}

@media (max-width: 1024px) {
    .cust_portfolio_home_pg .elementor-portfolio-wrapper .portfolio-item .portfolio-content {
        padding: 30px 15px;
    }

    .cust_portfolio_home_pg .elementor-portfolio-wrapper .portfolio-item .portfolio-content h3.portfolio-title.omega {
        font-size: 20px;
    }
}



@media (min-width: 768px) and (max-width: 1023px) {
    .industry-layout {
        gap: 20px;
    }

    .industry-image {
        flex: 1;
    }

    .industry-text {
        padding-right: 20px;
        padding-left: 20px;
    }
}


@media (max-width: 767px) {
    .spot_sldr_home_pg .elementor-headline {
        font-size: 45px !important;
        line-height: 55px !important;
    }
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.icn_box_cont_pg .elementor-icon-box-content h6.elementor-icon-box-title {
    background: linear-gradient(135deg, #ef8121 0%, #FFBA7E 51%, #ef8121 100%) 0 / 200%;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
}




.contact_form_cont_pg form.wpcf7-form :where(input, textarea) {
    color: white !important;
}
