

.custom-product-layout .product-short-desc h3.product-sub_title {
    background-color: aqua !important;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #ef8121;
    margin-bottom: 10px;
}





#nat_lang_int h2.elementor-cta__title  {
    text-wrap: nowrap;
}

/* 
.prods_carousel  .elementor-swiper-button  {

} */





